<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qurix.quelo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:exported="true"
            android:name="com.qurix.quelo.activities.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name="com.qurix.quelo.activities.WebviewActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.qurix.quelo.activities.SetupActivity"
            android:screenOrientation="landscape"/>
        <!--<receiver android:name="com.example.ihubtechnologies.superdoctv.utils.NetworkChangeReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

    </application>
    <!--<application-->
    <!--android:allowBackup="true"-->
    <!--android:icon="@mipmap/ic_launcher"-->
    <!--android:label="@string/app_name"-->
    <!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <!--android:supportsRtl="true"-->
    <!--android:theme="@style/AppTheme"-->
    <!--android:banner="@mipmap/ic_launcher">-->
    <!--<activity android:name=".activities.MainActivity">-->
    <!--<intent-filter>-->
    <!--<action android:name="android.intent.action.MAIN" />-->
    <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
    <!--<category android:name="android.intent.category.LAUNCHER" />-->
    <!--</intent-filter>-->
    <!--</activity>-->

    <!--</application>-->

</manifest>